<form onsubmit="return submitChangePasswordForm()">

    <div>
        <label>Current Password</label>
        <input id="current-password" type="password">
    </div>

    <div>
        <label>New Password</label>
        <input id="new-password" type="password">
    </div>

    <input type="submit" value="Change Password">
</form>