<form onsubmit="return submitResetPasswordForm()">
    <input id="new-password" type="password">
    <input type="submit" value="Reset Password">
</form>

<script>
function submitResetPasswordForm() {
    let password = document.getElementById("new-password").value;

    fetch(window.location.pathname, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ password })
    })
    .then(res => res.json())
    .then(data => {
        alert(data.message);
        if (data.success) window.location.href = '/login';
    });

    return false;
}
</script>